<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todolistfunc-huiqin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d729cade-6a2b-4c6b-a572-d7c6b789ea60/resourceGroups/rg-project4/providers/Microsoft.Web/sites/todolistfunc-huiqin</ResourceId>
    <UserName>$todolistfunc-huiqin</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todolistfunc-huiqin.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>